.border-box {
  border: 1px solid grey;
  padding: 0px !important;

  .form_container {
    width: 100%;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: #f5f8fa;
    font-family: Montserrat;



    .submit_btn {
      position: relative;
      float: right;
      font-weight: bold;
      letter-spacing: 1px;
      width: 127px;
      height: 34px;
      font-size: 12px;
      border: none;
      border-style: none;
      background-color: #003f67;
      color: white;
      font-family:Montserrat;
    }

    .send_message_text{
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .border_icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:#f5f8fa ;
    font-family: Montserrat;

    .Icons_text{
      padding-top: 10px;
      font-size: 11px;
      font-weight: 500;
      overflow-wrap:break-word;
    }

    .css-12m9wit-MuiButtonBase-root-MuiFab-root {
      background-color: white !important;
      color: #003f67;
    }




  }
}

.contact_image_container{
  height: 100%;
  width: 100%;
  margin-top: 12px;

}

.get_in_touch_container{
  padding: 10px 20px;
  .get_in_head{
    font-family: serif;
    font-weight: bold;
    font-size: 28px;
  }
  .get_in_text{
    font-family: Montserrat;
    font-size: 15px;
    color: #000;
  }
}

// @media  (min-width: 2560px) {
//     .border_icons_container {
//       margin-top: 50px;
//     }
//   }

