.product_container{
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(231, 229, 229);
    text-align: center;
    img{
        width: 50%;
        height: 370px;
        padding: 10px 20px;
    }
}