.customer_upload_photo{
  margin-top: 30px;

  Button{
    float: right;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: none;
    background-color: #003f67;
    color: #fff;
    margin-top: 25px;
  }
}